<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config></context:annotation-config>

    <context:property-placeholder location="classpath:student-info.properties"/>

    <bean id ="airtel" class ="com.practice.ioc.Airtel"/>
    <bean id ="studentObj123" class ="com.practice.di.Student">
        <constructor-arg name="studentName" value="Sai" type="java.lang.String"/>
        <constructor-arg name="id" value= "2" type="int"/>
    </bean>

    <bean id ="exam" class ="com.practice.di.Exam">
        <property name="invigilator">
            <bean class="com.practice.di.Invigilator"/>
        </property>

    </bean>

</beans>